* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    font-size: 1em;
    width: 100%;
    padding: 0;
}

.logo > img {
    pointer-events: none;
}

/* Slider */

.carousel-item {
    pointer-events: none;
}

/* Container - Banner */

.container-fluid {
    padding: 0;
}

/* img-fluid */

.img-fluid {
    min-width: 100%;
    pointer-events: none;
}

/* text-produtos1 */

.produtos-1 {
    text-align: center;
    margin-top: 8vh;
    letter-spacing: 3px;
    font-size: 1.9em;
}

/* text-titulo1 */

.titulo1 {
    color: black;
    font-size: 1.2em;
    font-weight: 100px bold;
    margin-bottom: 50px;
}

/* container-card */

.container-card {
    margin-top: 2em;
    overflow: hidden;
    justify-content: center;
    padding: 80px;
    cursor: pointer;
    border-radius: 40px;
}

.card:hover {
    background-color: rgba(113, 111, 121, 0.63);
}

/* Box-info */

.info-box {
    display: flex;
    background-color: #222222;
    color: #ffffff9f;
    flex-wrap: wrap;
}

.info-box p {
    width: 50%;
    letter-spacing: 2px;
    text-justify: initial;
    padding: 40px 10px 0px 20px;
    padding-top: 10px;
    margin: auto;
}

.info-box img {
    width: 40%;
    height: 20%;
    margin: auto;
    padding-top: auto;
    border-radius: 30px;
}

.destaques {
    text-align: center;
    margin-top: 8vh;
    letter-spacing: 3px;
    font-size: 1.9em;
}

.destaques-info {
    text-align: center;
    margin-top: 60px;
    height: 30px;
    font-size: 1.2em;
    color: gray
}

.logo-rodape {
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;
}

.rodape {
    list-style: none;
    background-color: #171616;
    width: 100%;
}

.info-rodape > li {
    color: rgba(255, 255, 255, 0.52);
    letter-spacing: 2px;
    margin-top: 40px;
    margin-left: 200px;
}

.copyrights {
    text-align: center;
    color: rgba(255, 255, 255, 0.52);
    list-style: none;
    letter-spacing: 1px;
}

.copyrights p {
    margin-bottom: 0;
}

h3 {
    color:rgba(255, 255, 255, 0.52);
    font-size: 1rem;
    padding-left: 60%;
}

.icones-sociais {
    display: flex;
    position: relative;
}

.icones-sociais img {
    padding: 10px;
    border-radius: 5px;
}

.icones-sociais img:hover{
    background: rgb(255, 255, 255);
}

.row {
    text-align: left;
    padding-bottom: 60px !important;
}

.footer {
    background-color: gray;
}
